<section class="h-[60vh] w-full relative flex flex-col items-center justify-center overflow-hidden hero-gradient">
    <div class="absolute inset-0 synth-grid pointer-events-none opacity-30"></div>
    <div class="relative z-10 text-center max-w-2xl mx-auto px-6">
        <div class="inline-block mb-10 relative">
            <div
                class="w-24 h-24 bg-gradient-to-tr from-primary to-secondary rounded-full flex items-center justify-center neon-glow">
                <span class="material-symbols-outlined text-5xl text-white text-center">visibility</span>
            </div>
        </div>
        <h1 class="text-7xl font-black tracking-tighter mb-2 text-white text-center leading-none">ODIN</h1>
        <p class="text-secondary font-black tracking-[0.5em] uppercase text-xs mb-1 text-center">Operational
            Distribution
            of Income Netflow</p>
        <p class="text-slate-400 text-sm font-semibold text-center opacity-80">Distribución Operativa del Flujo Neto de
            Ingresos</p>
    </div>
</section>