:host {
    display: contents;
}

.animate-spin-slow {
    animation: spin 3s linear infinite;
}

.animate-spin-reverse {
    animation: spin-reverse 2s cubic-bezier(0.5, 0.1, 0.5, 0.9) infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}